<section class="sign-up transparent-box">
	<h1>Log In</h1>

	<form action="<%= session_url %>" method="post">
	  <input
	     name="authenticity_token"
	     type="hidden"
	     value="<%= form_authenticity_token %>">

	  <label for="user_username">Email:<br>
	 	 <input
	     	name="user[email]"
	    	type="text">
	  </label>
	  <br>

	  <label for="user_password">Password:<br>
	  	<input
	    	 name="user[password]"
	     	 type="password">
	  </label>
	  <br>

	  <input type="submit" value="Log in">
	</form>

	Don't have an account? <%= link_to "Sign Up!", new_user_url %>	
</section>

<section class="sign-up transparent-box">
	<%= render partial: "sessions/guest" %>
</section>