<form action="<%= users_url %>" method="post">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">



  <label>Company Name: <br>
  <input type="text" name="company[company_name]">
  </label>
  <br>

  <label>First Name: <br>
  <input type="text" name="user[first_name]">
  </label>
  <br>

  <label>Last Name: <br>
  <input type="text" name="user[last_name]">
  </label>
  <br>


  <label>Email: <br>
  <input type="text" name="user[email]">
  </label>
  <br>


  <label>Password: <br>
  <input type="password" name="user[password]">
  </label>
  <br>

<!-- need to add repeat password -->


  <input type="submit" value="Sign Up">
</form>
