<% if can? :add_employees, current_user %>
<div class="sign-up transparent-box">
<h1>Add a new Employee</h1>

<form action="<%= create_employee_user_url(current_user) %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Email: <br>
  <input type="text" name=user[email] value=""></label>
  <br>

  <label>First Name: <br>
  <input type="text" name=user[first_name] value=""></label>
  <br>

  <label>Last Name: <br>
  <input type="text" name=user[last_name] value=""></label>
  <br>

  <input type="submit" value="Add User">
</form>
</div>
<% end %>