<div class="sign-up transparent-box">
	<h2>Hello, <%= @user.first_name %>! Please create a password for your account.</h2>
	<form action="<%= update_confirmed_url() %>" method="post">

	  <input type="hidden" name="_method" value="put">
	  <input
	     name="authenticity_token"
	     type="hidden"
	     value="<%= form_authenticity_token %>">



	  <label>Confirmation Code
	  <input type="text" name="code" value="<%= params[:code] %>">
	  </label>
	  <br>

	  <label>Password
	  <input type="password" name="user[password]">
	  </label>
	  <br>
  
	  <label>Confirm Password: <br>
	  <input type="password" name="user[password_confirmation]">
	  </label>
	  <br>


	  <input type="submit" value="Sign Up">
	</form>
</div>