<form action="<%= users_url %>" method="post">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">



  <label>Company Name
  <input type="text" name="company[company_name]">
  </label>
  <br>

  <label>First Name
  <input type="text" name="user[first_name]">
  </label>
  <br>

  <label>Last Name
  <input type="text" name="user[last_name]">
  </label>
  <br>


  <label>Email
  <input type="text" name="user[email]">
  </label>
  <br>


  <label>Password
  <input type="password" name="user[password]">
  </label>
  <br>




  <input type="submit" value="Sign Up">
</form>