<%= javascript_include_tag "calendar/shift_calendar" %>

<% if current_user.admin? %>

  <%=  render partial: "form" %>

<% end %>

<div class="shifts group">
  <div id="calendar"></div>

  <div class="shift-details"></div>

</div>