<div id="calendar"></div>



<div class="shifts group">

  <% if current_user.admin? %>
  <div class="add-shift">
    <%=  render partial: "form" %>
  </div>
  <% end %>

  <div class="shift-details"></div>

</div>