<div id="shift-index-view">
  <section id="calendar" class="transparent-box"></section>
  <%= render partial: "shifts/form" %>
</div>



<script>
var currentUserId = parseInt(<%= current_user.id %>)
var ability = new Ability({rules : <%= @js_abilities.to_json.html_safe %>});
$(document).ready(function(){
  window.ShiftScheduler.initialize();
});
</script>
