/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require fullcalendar
 *= require_tree .
 */

body, div, ul, li, h1, h2, h3 {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font-family: sans-serif;
  vertical-align: baseline;

}

body {
  background-image: url('tree_bark.png');
}
ul {
  list-style: none;
}

.transparent-box {
   background-color:rgba(247, 247, 247, 0.7);
   box-shadow: 3px 3px 3px 3px #ccc;
   border-radius: 10px;
}


.error{
	color: #DB4074;
	margin: auto;
}

.notice{
	margin: auto;
}

.header {
	width: auto;
	margin: 10px;
	border-radius: 10px;

}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.main-content{
  margin:auto;
/*  width: 1000px;*/
  padding: 10px;

}

.button_to > div{
  display: inline;
}

.button_to {
  display: inline;
}

#calendar {
  padding: 10px;
  margin-bottom: 15px;
  width: auto;
/*  float: left;*/

}

#calendar .fc-button {
  background-color: white;
  text-transform: uppercase;
  font-size: 12px;
  border: 0;
}


#calendar .fc-content {
  text-transform: uppercase;
  font-size: 14px;
}

#calendar .fc-today {
  background-color: #B4CDD5;
}
