/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require fullcalendar
 *= require_tree .
 */

body, div, ul, li {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font-family: sans-serif;
  vertical-align: baseline;

}
ul {
  list-style: none;
}

.error{

}

.notice{

}

.dashboard{
  float: right;
}

.dashboard ul li{
  float: left;
  padding: 5px;
}

.main-content{

}

.button_to > div{
  display: inline;
}

.button_to {
  display: inline;
}

#calendar {
  width: 600px;
}