// Place all the styles related to the Shifts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.add-shift {
  font-size: 12px;
  width: 320px;
  float: left;
  padding: 10px;
  margin: 0 10px;
  border-radius: 10px;

}

.add-shift h2{
  font-size: 16px;
}

.shift-add-form {
	margin: auto;
	width: 300px;
	font-size: 15px;
	padding: 10px;
}

.ui-dialog {
	border: 10px solid #3a87ad;
	border-radius: 10px;
}

.ui-dialog > .ui-widget-header{
	background: white;
	border: none;
	font-size: 24px;
}

.new-shift-form >label{
	padding: 5px 0;
	display: block;
}

.new-shift-form >label > input{
	border-radius: 6px;
	border: 1px solid black;
	outline: none;
}

.new-shift-form >label > input#title {
	width: 200px;
}

.new-shift-form >label > input#start-time {
	width: 150px;
}

.new-shift-form >label > input#end-time {
	width: 150px;
}

.new-shift-form >label > input#slot-num {
	width: 40px;
}


.shift-details {
  padding: 10px;
  margin: 10px;
  float:left;
  border-radius: 10px;

}

.ui-dialog-title {
	font-size: 19px;
}

#shift-container {
	padding-left: 25px;
}

.shift-details > .shift-info{
  font-size: 12px;
}

.scheduled-employees, .pending-employees {
  padding: 10px 0;
}

//event colors

.pending {
	background-color: #f39c12;
}

.full {
	background-color: #c0392b;
}

.available {
	background-color: #3498db;
}

.denied {
	background-color: #7f8c8d;
}

.approved {
	background-color: #27ae60;
}

.calendar-stuff {

}

.calendar-stuff > ul {
  float: left;
}
.calendar-stuff > ul > li {
  float: left;
  padding: 5px;
}