// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-nav {
	float: left;

}

.main-nav  > ul > li{
	float: left;



}

.main-nav  > ul > li > a{
	float: left;
	padding: 10px;
	border-right: 1px solid black;


}


.main-nav  > ul{

}



.main-nav  > ul > li:hover{
	background-color: #A690D4;

}

.main-nav  > ul > li > a{
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	font-size: 14px;


}

.employee-list {
  margin: auto;
  margin-top: 5%;
  width: 600px;
  padding: 40px;
  background: white;
}

.employee-list > table{
  border-collapse: collapse;
}

.employee-list th {
  border-bottom: solid 5px black;
  padding: 5px;
  text-align: left;
}

.employee-list td {
  padding: 5px;
  text-align: left;
}



.employee-info-row:hover{
  background-color: #669999;
}