// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-nav {
	float: left;

}

.main-nav  > ul{

}

.main-nav  > ul > li{
	float: left;

}

.main-nav  > ul > li > a{
	float: left;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
	color: #3a87ad;
	font-size: 14px;
	border-radius: 10px;

}


.main-nav  > ul > li> a:hover{
	background-color: #B4CDD5;
	color: white;
}

.dashboard{
	float: right;
}

.dashboard ul {
	padding: 0 10px;
}

.dashboard ul li{
  font-size: 11px;
}

.dashboard ul li input{
	float: right;
    background-color: #CCCCCC;
	font-size: 12px;
	border: 1px solid #C7C7C7;
	outline: none;
	border-radius: 7px;
}

.sign-up {
	margin: auto;
	margin-bottom: 20px;
	padding: 10px;
	width: 350px;
}

.sign-up > h1{
	font-size: 24px;
	padding-top: 10px;
	text-align: center;
}

.sign-up > a{
    text-decoration: none;
    color: blue;
}

.sign-up > form{
	margin: auto;
	width: 300px;
	font-size: 20px;
	padding: 10px;
}

.sign-up > form > label{
	padding: 10px 0 0 0;
	display: block;
}

.sign-up > form input{
	width: 300px;
	font-size: 20px;
	border-radius: 6px;
	border: 1px solid white;
	outline: none;
}

.sign-up > form input[type="submit"]{
	width: 100px;
    background-color: #CCCCCC;
	font-size: 20px;
	border: 1px solid #C7C7C7;
	outline: none;
}

.employee-list {
  margin: auto;
  margin-top: 5%;
  width: 600px;
  padding: 40px;

}


.employee-list > table{
  border-collapse: collapse;
}

.employee-list th {
  border-bottom: solid 5px black;
  padding: 5px;
  text-align: left;
}

.employee-list td {
  padding: 5px;
  text-align: left;
}


.employee-info-row:hover{
  background-color: #669999;
}